<nav class="site-nav">
    <a href="./">
      <h1>CHESS</h1>
    </a>
    <ul>
      <li><a href="./">HOME</a></li>
      <li><a href="./">ABOUT US</a></li>
      <li><a href="./">GAME</a></li>
    </ul>
    <ul>
      <a href="">
        <li id="signUp" class="button">Sign up</li>
      </a>
      <a href="">
        <li id="logIn" class="button">Log in</li>
      </a>
      <img id="avatar" src="./imgs/avatarEmpty.png" alt="" />
    </ul>
  </nav>