<nav class="site-nav">
    <a href="/">
      <h1>CHESS</h1>
    </a>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="./">ABOUT US</a></li>
    </ul>
    <ul>
      <a href="/signUp">
        <li id="signUp" class="button">Sign up</li>
      </a>
      <a href="/logIn">
        <li id="logIn" class="button">Log in</li>
      </a>
    </ul>
  </nav>