<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cm-chessboard/assets/chessboard.css">
    <title>Document</title>
</head>
<body>
    <div id="boardChess">

    </div>
    <script type="module">
        import {Chessboard} from "/cm-chessboard/src/Chessboard.js"
        new Chessboard(document.getElementById("boardChess"),
                {
                assetsUrl : "/cm-chessboard/assets/"
            })
    </script>
</body>
</html>