<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOBBY</title>
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/gameMenu.css">
</head>
<body>
    <%- include('./partials/navLog.ejs') %>

    <div class="content">
        <a href="/game/<%= id %>">
            <p>PLAY A GAME</p>
        </a>
    </div>

    <script>
        var photo = document.getElementById('avatar');
        var sideBar = document.querySelector('.sideBar');
        photo.addEventListener("click", () =>{
            console.log(sideBar)
            sideBar.classList.toggle("hidden");
        })
    </script>
</body>
</html>