<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOBBY</title>
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/gameMenu.css">
</head>
<body>
    <%- include('./partials/navLog.ejs') %>

    <div class="content">
        <a href="/board">
            <p>PLAY A GAME</p>
        </a>
    </div>
</body>
</html>