<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="nav.css" />
  </head>

  <body>
    <nav class="site-nav">
      <a href="./">
        <h1>CHESS</h1>
      </a>
      <ul>
        <li><a href="./">HOME</a></li>
        <li><a href="./">ABOUT US</a></li>
        <li><a href="./">GAME</a></li>
      </ul>
      <ul>
        <a href="">
          <li id="signUp" class="button">Sign up</li>
        </a>
        <a href="">
          <li id="logIn" class="button">Log in</li>
        </a>
        <img id="avatar" src="./imgs/avatarEmpty.png" alt="" />
      </ul>
    </nav>
    <div class="hero">
      <div class="textHero">
        <h1>Welcome to Chess Game!</h1>
        <p>
          Experience the excitement of multiplayer chess battles from your
          browser. Challenge friends, compete globally, and showcase your
          skills.
        </p>
        <div>
          <h2>Features:</h2>
          <ul>
            <li>Real-time multiplayer matches.</li>
            <li>Various game modes and time controls.</li>
            <li>Track your progress with statistics and leaderboards.</li>
            <li>Master advanced moves and tactics.</li>
            <li>Face a challenging chess engine (coming soon).</li>
          </ul>
        </div>
        <p>Join today and make your move towards victory!</p>
      </div>
      <div class="heroImg">
        <img src="./imgs/heroImg.png" alt="" srcset="" />
      </div>
    </div>
  </body>
</html>
