*{
    margin: 0;
}


body{
    height: 100vh;
    font-size: 2rem;
    font-family: 'Belanosima', sans-serif;
    background: rgb(125,0,106);
    background: linear-gradient(110deg, rgba(125,0,106,1) -50%, rgba(41,6,90,1) 100%);
    overflow: hidden;
}

.cm-chessboard.default .board .square.black{
    fill: rgba(125,0,106,1);
}

#boardChess{
    /* margin: auto; */
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.player{
    visibility: hidden;
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    color: white;
    background-color: aqua;
    align-self: flex-end;
}

.opponent{
    visibility: hidden;
    width: 100px;
    height: 100px;
    margin-top: 2rem;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    color: white;
    background-color: aqua;
    align-self: flex-start;
}

.visible{
    visibility: visible;
}

.onTheMove{
    border: 10px solid yellowgreen;
}


.loading {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loading div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .loading div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .loading div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .loading div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .loading div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .loading div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .loading div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .loading div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .loading div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .loading div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .loading div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .loading div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .loading div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .loading div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
