body{
    height: 100vh;
    font-family: 'Belanosima', sans-serif;
    background: rgb(125,0,106);
    background: linear-gradient(110deg, rgba(125,0,106,1) -50%, rgba(41,6,90,1) 100%);
    overflow: hidden;
}

.hero{
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: azure;
    animation: 0.5s ease-out 0s 1 popUp;
}
.textHero{
    height: 100%;
    font-size: 1.5rem;
    margin-bottom: 20%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.heroImg{
    height: fit-content;
    position: relative;
}

.heroImg > img {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    height: 100vh;
}

.textHero > #signUp {
    margin-top: 2rem;
    text-align: center;
}