@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
*{
    margin: 0;
}

a{

    text-decoration: none;
    color: azure;
}

.site-nav{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
    margin-top: 0.5rem;
}

.site-nav h1 {
    font-size: 2.5rem;
    color: azure;
}

.site-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: azure;
}

.site-nav li{
    margin: 10px;
    color: azure;
}

.button{
    padding: 15px;
    border-radius: 15px;
}
#logIn{
    background-color: #200E4C;
}
#logIn:hover{
    background-color: #5C1E78;
}

#signUp{
    background-color: rgb(125,0,106);
}

#signUp:hover{
    background-color: #200E4C;
}

#avatar{
    height: 3.2rem;
    margin-left:20px;
    filter: invert(100);
}
.sideBar{
    z-index: 0;
    background-color: #200e4c36;
    backdrop-filter: blur(5px);
    border-left: 3px solid #200E4C;
    height: 100%;
    width: 20%;
    padding: 2rem;
    padding-top: 7rem;
    position: absolute;
    text-align: center;
    right:0;
    top: 0;
    color: azure;
    animation: 3s infinite alternate slidein;

}
.hidden{
    right: -200rem;
    animation: 3s infinite alternate slidein;
}

#logOut {
    margin: 1rem;
    font-size: 1.5rem;
}

#logOut{
    background-color: rgb(125,0,106);
}

#logOut:hover{
    background-color: #200E4C;
}


