/* @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap'); */

@keyframes popUp {
    0% {
      transform:scale(0.0005);
    }
    100% {
      transform: scale(1);
    }
  }

*{
    margin: 0;
}

a{

    text-decoration: none;
    color: azure;
}

.site-nav{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
    margin-top: 0.5rem;
}

.site-nav h1 {
    font-size: 2.5rem;
    color: azure;
}

.site-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: azure;
}

.site-nav li{
    margin: 10px;
    color: azure;
}

.button{
    padding: 15px;
    border-radius: 15px;
}
#logIn{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
#logIn:hover{
    color: #fff;
    background-color: #111;
    opacity: 0.5 ;
}

#signUp{
    
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

#signUp:hover{
    color: #fff;
    background-color: #111;
    opacity: 0.5 ;
}

#avatar{
    height: 3.2rem;
    margin-left:20px;
    filter: invert(100);
}
.sideBar{
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 0;
    background-color: #200e4c36;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 20%;
    padding: 2rem;
    padding-top: 7rem;
    position: absolute;
    text-align: center;
    right:0;
    top: 0;
    color: azure;

}
.hidden{
    transform: translateX(150%);
}

#logOut {
    margin: 1rem;
    font-size: 1.5rem;
}

#logOut{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}

#logOut:hover{
    color: #fff;
    background-color: #111;
    opacity: 0.5 ;
}


